*{
    box-sizing: border-box;
    background-color: blanchedalmond;
    padding: 0;
    margin: 0;
}

header {

 padding: 25px;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 background-color: green ;
 color: white;

}

nav li {
    display: inline-block;
    margin-left: 25px;
    float: right;
    background-color: green;

}

main {

    background-color: beige;

}

h1{
    text-align: center;

    display:block;
  
    


}

footer{
    background-color: blanchedalmond;

    text-align: center;
}

.column{

    text-align: center;
}